/*Variabeln--------------------------------*/
:root{
    /*Farben*/
    --bg: white;
    --akzent: rgb(255, 251, 0);
    --akzent-50: #ffff99;
    --schrift: black;
    --positiv: rgb(14, 182, 90);
    --negativ: rgb(219, 54, 54);
    /*Abstände*/
    --sidegap: 4vw;
    --topgap-s: 10px;
    --topgap-m: 35px;
    /*Schriftgrössen*/
    --s-title: 3rem;
    --s-big: 1.6rem;
    --s-small: 1.5rem;
}
/*ALLGEMEIN-------------------------------*/
*{
    font-family: sans-serif;
    color: var(--schrift);
}
html{
    background-color: var(--akzent);
}
img{
    width: 100%;
    height: auto;
}
span#mark{
    padding: 0 5px;
    background-color: var(--akzent-50);
    font-family: monospace;
}
/*HEADER----------------------------------*/
header{
    width: 100vw;
    padding: var(--topgap-s) var(--sidegap);
}
/*OVERLAY---------------------------------*/
article.overlay a{
    text-decoration: none;
    color: var(--bg);
}
article.overlay p.menu{
    color: var(--bg);
    margin: var(--topgap-m) 0;
}
article.overlay nav ul{
    list-style-type: none;
    margin: 0 0;
    padding: 0 0;
}
article.overlay li{
    padding: 4px 0;
    font-size: var(--s-small);
    font-weight: bold;
}
article.overlay{
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--schrift);
    padding: var(--topgap-s) var(--sidegap);
    height: 100vh;
    width: 100vw;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}
/*MAIN------------------------------------*/
main{
    width: 100vw;
    padding: var(--topgap-s) var(--sidegap);
}
main h1{
    font-size: var(--s-title);
    line-height: 100%;
    margin: var(--topgap-s) 0;
}
main h3{
    margin: 0 0 var(--topgap-s) 0;
}
main p.menu{
    color: var(--schrift);
    margin: var(--topgap-m) 0;
}
p{
    margin: 0 0;
}
main input[type="number"],
main input[type="text"],
main input[type="password"],
main textarea{
    font-size: var(--s-big);
    width: 100%;
    border: 1px solid var(--schrift);
    padding: 10px;
    font-weight: bold;
    background-color: var(--akzent);
    margin: var(--topgap-s) 0;
    -webkit-border-radius:0; 
    border-radius:0;
}
main button{
    width: 100%;
    background-color: var(--bg);
    border: 1px solid var(--schrift);
    padding: 10px;
    font-size: var(--s-big);
    font-weight: bold;
    margin: var(--topgap-m) 0;
}
main button.small{
    font-size: 1rem;
    margin: var(--topgap-s) 0 0 0;
    overflow: hidden;
}
main button.upload{
    margin: var(--topgap-s) 0 0 0;
}
main div.profilteil button.reset_button{
    border: none;
    border-top: 1px solid var(--schrift);
    margin: 0 0;
}
main hr{
    border: none;
    border-bottom: 1px solid var(--schrift);
    margin: var(--topgap-s) 0;
}
main article.intro{
    margin: var(--topgap-m) 0;
}
/*Checkboxen*/
main form div.checks label{
    padding: var(--topgap-s) 0;
}
main form div.checks{
    padding: var(--topgap-s) 0 5px 0;
}
/*Buchungen*/
main div.buchungen{
    border-bottom: 1px solid var(--schrift);
    padding: var(--topgap-m) 0 var(--topgap-m) 0;
}
main div.buchungen:last-of-type{
    border: none;
}
/*Fehlermeldungen*/
.error{
    color: var(--negativ);
}
/*PROFILE---------------------------------*/
div.profilteil article.du{
    display: flex;
    flex-direction: row;
}
article.du section img{
    width: 90px;
    height: 90px;
    object-fit: cover;
    margin-right: var(--topgap-s);
}
/*ERFOLG---------------------------------*/
div.erfolg{
    position: absolute;
    margin: var(--sidegap);
    width: 92vw;
    border: 1px solid var(--schrift);
    background-color: var(--bg);
    box-sizing: border-box;
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 5fr 1fr;
    transition: 0.5s;
}
div.erfolg.weg{
    transform: translateY(-100px);
}
div.erfolg p{
    padding: var(--topgap-s);
    color: var(--positiv);
}
div.erfolg p:last-of-type{
    outline: 1px solid var(--schrift);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--akzent-50);
    color: var(--schrift);
}
/*RESET-----------------------------*/
main div.reset:not(:last-of-type){
    border-bottom: 1px solid var(--schrift);
}
main div.reset{
    padding: var(--topgap-m) 0;
}
article.resetbox{
    outline: 1px solid var(--schrift);
    margin: var(--topgap-s) 0 0 0;
}
div.profilteil article.resetbox{
    margin: var(--topgap-s) 0 calc(var(--topgap-m) - 10px) 0;
}
article.resetbox div.stati{
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 5fr 1fr;
    outline: 1px solid var(--schrift);
}
article.resetbox div.status{
    outline: 1px solid var(--schrift);
}
article.resetbox div.status.paid{
    background-color: var(--positiv);
}
article.resetbox div.status.open{
    background-color: var(--negativ);
}
article.resetbox p{
    padding: 5px var(--topgap-s);
}
article.resetbox p.satz{
    padding: var(--topgap-s);
}

/*BALKEN OVERVIEW-------------------------*/
div.balken{
    height: var(--topgap-m);
    width: 0%;
    transition: 0.5s;
    margin: var(--topgap-m) 0 var(--topgap-s) 0;
    border: 1px solid var(--schrift);
}
div.balken.positiv{
    background-color: var(--positiv);
}
div.balken.negativ{
    background-color: var(--negativ);
}

/*FOOTER----------------------------------*/
footer{
    width: 100vw;
    padding: var(--topgap-s) var(--sidegap);
}