/*Variabeln--------------------------------*/
:root{
    /*Farben*/
    --bg: white;
    --akzent: yellow;
    --akzent-50: #ffff99;
    --schrift: black;
    /*Abstände*/
    --sidegap: 4vw;
    --topgap-s: 10px;
    --topgap-m: 35px;
    /*Schriftgrössen*/
    --s-big: 30px;
    --s-small: 20px;
}
/*ALLGEMEIN-------------------------------*/
*{
    font-family: sans-serif;
    color: var(--schrift);
}
html{
    background-color: var(--akzent);
}
img{
    width: 100%;
    height: auto;
}
/*HEADER----------------------------------*/
header{
    width: 100vw;
    padding: var(--topgap-s) var(--sidegap);
}
/*OVERLAY---------------------------------*/
article.overlay a{
    text-decoration: none;
    color: var(--bg);
}
article.overlay p.menu{
    color: var(--bg);
    margin: var(--topgap-m) 0;
}
article.overlay nav ul{
    list-style-type: none;
    margin: 0 0;
    padding: 0 0;
}
article.overlay li{
    padding: 4px 0;
    font-size: var(--s-small);
    font-weight: bold;
}
article.overlay{
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--schrift);
    padding: var(--topgap-s) var(--sidegap);
    height: 100vh;
    width: 100vw;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}
/*MAIN------------------------------------*/
main{
    width: 100vw;
    padding: var(--topgap-s) var(--sidegap);
}
main h1{
    font-size: var(--s-big);
    margin: 0 0;
}
main h3{
    margin: 0 0 var(--topgap-s) 0;
}
main p.menu{
    color: var(--schrift);
    margin: var(--topgap-m) 0;
}
p{
    margin: 0 0;
}
main input[type="number"],
main input[type="text"],
main input[type="password"],
main textarea{
    font-size: var(--s-big);
    width: 100%;
    border: 1px solid var(--schrift);
    padding: 10px;
    font-weight: bold;
    background-color: var(--akzent);
    margin: var(--topgap-s) 0;
    -webkit-border-radius:0; 
    border-radius:0;
}
main button{
    width: 100%;
    background-color: var(--bg);
    border: 1px solid var(--schrift);
    padding: 10px;
    font-size: var(--s-big);
    font-weight: bold;
    margin: var(--topgap-m) 0;
}
main hr{
    border: none;
    border-bottom: 1px solid var(--schrift);
    margin: var(--topgap-s) 0;
}
main article.intro{
    margin: var(--topgap-m) 0;
}
main form div.checks label{
    padding: var(--topgap-s) 0;
}
main form div.checks{
    padding: var(--topgap-s) 0 5px 0;
}
main div.buchungen{
    padding: var(--sidegap);
}
main div.buchungen:nth-child(odd){
    background-color: var(--akzent-50);
}
.error{
    color: red;
}

/*BALKEN OVERVIEW-------------------------*/
div.balken{
    height: 30px;
    width: 100%;
    margin: 30px 0 10px 0;
    background-color: blue;
}

/*FOOTER----------------------------------*/
footer{
    width: 100vw;
    padding: var(--topgap-s) var(--sidegap);
}